* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.21);
    width: 450px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    padding: 1.2rem 1.2rem;
    border-radius: 0.5rem;
    margin-top: 50%;
}

.container-desc {
    color: gray;
    font-size: 1.2rem;
    font-family: "Roboto";
    text-align: center;
    padding-bottom: 1.9rem;
    font-weight: bold;
}

.container-inputs {
    display: flex;
    justify-content: center;
    padding-bottom: 1.2rem;
    gap: 1rem;
    height: 4rem;
}

.form-input-base {
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.75rem;
    padding-left: 0.4rem;
    width: 8rem;
}

.form-input-cuantos {
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.75rem;
    padding-left: 0.4rem;
    width: 8rem;
}

.container-button {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.form-button-presentar {
    background-color: lightblue;
    width: 10rem;
    height: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.form-button-presentar:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.container-response {
    background-color: rgba(255, 255, 255, 0.21);
    margin-top: 1rem;
    height: auto;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
    visibility: hidden;
}

.label-response {
    display: block;
    color: grey;
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: lighter;
    padding: 1.5rem 1rem 1rem 0;
    text-align: center;
    width: 450px;
}

